
    @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

    * {
      font-family: 'Assistant', Arial;
      box-sizing: border-box;
    }

    body {
      background-color: #f5f5f5;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      background: #fff;
      margin: auto;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .logo {
      display: block;
      margin: 0 auto 15px;
      max-width: 150px;
    }

    .Koteret {
      color: #ff9222;
      font-weight: bold;
      text-align: right;
      font-size: 21px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .fieldName {
      text-align: right;
      font-size: 16px;
      color: #555;
      margin-top: 10px;
    }

    .TextBox {
      width: 100%;
      padding: 6px;
      font-size: large;
      color: #3f475e;
      text-align: right;
      border: none;
      border-bottom: 2px solid #f7bb4d;
      background-color: #FFFFFB;
    }

    .row {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .half {
      flex: 1;
      min-width: 45%;
    }

    .buttonAction {
      color: #4a4a4a;
      background: #f1f1f1;
      width: 100%;
      margin: 8px 0;
      text-align: center;
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      font-family: 'Assistant';
      border: 2px solid #edd9c6;
    }

    .Bt {
      font-family: 'Assistant', sans-serif;
      font-size: large;
      color: white;
      background-color: #38c232;
      text-align: center;
      padding: 12px 24px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    }

    .Bt:hover {
      background-color: #2ba623;
    }

    /* אזור ערב א' עד ד' */
    .arev-section {
      border: 1px solid #f7bb4d;
      padding: 15px;
      border-radius: 6px;
      margin-bottom: 20px;
    }


    .radio-tabs {
  display: flex;
  gap: 20px;
  justify-content: right;
  margin-bottom: 10px;
}

.radio-tab {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}

.radio-tab input[type="radio"] {
  display: none;
}

.radio-tab span {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.radio-tab input[type="radio"]:checked + span {
  border-bottom: 2px solid #f7bb4d;
  color: #000;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

.TextBox:focus {
  border-bottom: 2px solid #f7bb4d;
}


  